.bio-container {
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, rgba(164,186,183,1) 0%, rgba(3,1,43,1) 30%, rgba(0,0,0,1) 100%);
}

.pagebreak {
  height: 5vh;
  width: 100vw;
  background-color: black;
}

.section-title {
  color: white;
}

.article-container {
  display: flex;
  width: 90vw;
}

.indiv-article {
  width: 45vw;
}

p {
  color: white;
  margin: 10px;
}

.pictures {
  display: flex;
  justify-content: space-around;
  width: 95vw;
  flex-wrap: auto;
  margin: 5vh;
}

.polaroid {
  width: 25vw
}