.bio-container {
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, rgb(90, 104, 103) 0%, rgba(0,0,0,1) 50%);
}

.pagebreak {
  height: 5vh;
  width: 100vw;
  background-color: black;
}

.section-title {
  color: white;
  padding: 5vh;
  font-size: 4vw;
}

.article-container {
  display: flex;
  width: 90vw;
}

.indiv-article {
  width: 45vw;
}

p {
  color: white;
  margin: 10px;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95vw;
  margin: 5vh;
}

.bio-links {
  color: aliceblue;
}

.polaroid {
  width: 300px;
  margin: 10px;
}