.skills-section {
  width: 100vw;
  background: linear-gradient(
    0deg,
    rgb(167, 187, 185) 0%,
    rgba(90, 104, 103) 100%
  );
}
.skills-title {
  color: black;
  text-align: center;
  padding: 3vh;
  font-size: 4vw;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
  width: 240px;
  height: 160px;
}

.bottom-card {
  display: flex;
  align-items: center;
}

.skill-icon {
  width: 75px;
  padding: 10px;
}

/* Media Queries */

@media (max-width: 600px) {
  .skills-title {
    font-size: 6vh;
  }
}
