.home-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, rgba(13,71,171,1) 0%, rgba(3,1,43,1) 60%, rgba(0,0,0,1) 100%);
}

.image1 {
  height:100vh;
  position: absolute;
  z-index: 2;
}

.image2 {
  height: 100vh;
  float: right;
  position: relative;
}

.image3 {
  width: 100vw;
  position: absolute;
}

.name {
  color: white;
  z-index: 3;
  position: absolute;
  padding-top: 15vh;
  padding-left: 10vw;
}

